:root {
  --background: rgb(44, 47, 49);
  --foreground: rgb(255, 255, 255);
  --content-width: 70%;
}
html {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  line-height: 1.5rem;
}
body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0px;

  min-height: 100%;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0px;
}
#page-content {
  font-size: 1.1em;
}
@media screen and (max-width: 1455px) {
  :root {
    --content-width: 80%;
  }
}
@media screen and (max-width: 1055px) {
  :root {
    --background: rgb(44, 47, 49);
    --foreground: rgb(255, 255, 255);
    --content-width: 90%;
  }
}
@media screen and (max-width: 900px) {
  #page-content {
    font-size: 1.05em;
  }
}
