---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Link from "../components/Link.astro";
import DiscordLink from "../components/DiscordLink.astro";
import DcUser from "../components/DcUser.astro";
import Icon from "../components/Icon.astro";

type TeamMember = {
  id: string;
  name: string;
  roles: string[];
};

const team = [
  { id: "324648170011492352", name: "booky10", roles: ["Admin", "Developer"] },
  { id: "557958187152572446", name: "fabio1908", roles: ["Teamleitung", "Moderator"] },
  { id: "748881908284260402", name: "bynxskill", roles: ["Teamleitung", "Moderator"] },
  { id: "369585622542712835", name: "vito5871", roles: ["Teamleitung", "Moderator"] },
  { id: "337870467308322816", name: "caliax", roles: ["Teamleitung", "Builder"] },
  { id: "537356866494267402", name: "yullihahn", roles: ["Moderator"] },
  { id: "630433404491530248", name: "blue_5480", roles: ["Moderator"] },
  { id: "1017153407393484881", name: "leeeonn", roles: ["Moderator"] },
  { id: "772127193798541313", name: "lordjujutv", roles: ["Moderator"] },
  { id: "1071120628716929164", name: "wehsoos", roles: ["Moderator"] },
  { id: "710117430214656000", name: "lxsse24", roles: ["Builder"] },
  { id: "710179041965244457", name: "spongebess", roles: ["Builder"] },
  { id: "706597494880207020", name: "teamgeilo", roles: ["Builder"] },
] as TeamMember[];
---

<Layout title="FAQ" description="Die am häufigsten gestellten Fragen über CloudCraft - hier beantwortet" keywords={["faq"]}>
  <Header title="CloudCraft - FAQ" image={{ src: "/assets/logo.webp", alt: "Logo von CloudCraft", width: 240, height: 240 }}>
    <p>Hier findest du Antworten auf die am meist gestelltesten Fragen.</p>
    <p>Du hast eine Frage, welche hier nicht beantwortet wird? Tritt unserem <DiscordLink /> bei, dort wird deine Frage vom CloudCraft-Team schnellstmöglich beantwortet.</p>
  </Header>
  <main>
    <div id="team">
      <h2>Wer ist das CloudCraft Team?</h2>
      <p>Das CloudCraft Team besteht aus vielen Mitgliedern, die Spaß daran haben, für euch verschiedene Minecraft-Projekte auf die Beine zu stellen. Gegründet wurde der Server von <DcUser id="650258283185045507/">tschenikl</DcUser> und <DcUser id="351085754979450881/">niklas883</DcUser>. Aktuell besteht das Team aus {team.length} Teammitgliedern:</p>
      <ul>
        {
          team.map((member) => (
            <li>
              <DcUser id={member.id}>{member.name}</DcUser>: {member.roles.join(", ")}
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      <h2 id="rules">Gibt es ein generelles Regelwerk?</h2>
      <p>Ja, es gibt ein generelles <Link icon={["solid", "scroll"]} href="/rules">Regelwerk</Link>. Allerdings solltest du beachten, dass es in jedem Projekte zusätzliche Regeln geben könnte oder einige Regeln nicht gelten.</p>
    </div>
    <div>
      <h2 id="sponsor">Wir finanzieren wir das?</h2>
      <p>Unsere Minecraft-Server werden von <Link icon={["solid", "globe"]} href="https://chaoshosting.eu/">chaoshosting</Link> gesponsort. Auf der <Link icon={["solid", "server"]} href="/sponsor/">Sponsor</Link>-Seite kannst du mehr über sie erfahren. Ohne sie wären CloudCraft's Minecraft-Projekte nicht möglich <span style="color: #ff2222"><Icon icon={["solid", "heart"]} /></span>!</p>
    </div>
    <div>
      <h2 id="source">Kann man CraftAttack/Elements/etc. selbst nutzen?</h2>
      <p>Einige unserer System sind Open-Source. Auf unserer <Link icon={["solid", "download"]} href="/r/downloads">Downloads</Link>-Seite können diese heruntergeladen werden. Allerdings ist nicht alles öffentlich verfügbar.</p>
    </div>
    <div>
      <h2 id="contact">Wie kann man euch kontaktieren?</h2>
      <p>Die schnellste Kontaktmöglich ist über unseren <DiscordLink />. Dort kannst du per Ticket dem Team direkt eine Frage stellen.</p>
      <p>Eine alternative Kontaktmöglichkeit wäre per &#69;-&#77;&#97;&#105;&#108; unter cloudcraft4mc<i class="fa-solid fa-at"></i>&#103;m&#97;il[p&#117;nkt]com. Bitte beachte, dass wir hier keine direkte Antwort garantieren können.</p>
    </div>
    <div>
      <h2 id="downloads">Wo kann man die Maps der Projekte downloaden?</h2>
      <p>Wir haben eine extra Seite für alle Projekt-Downloads unter <Link icon={["solid", "download"]} href="/r/downloads">downloads.cloudcraftmc.de</Link>.</p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: 2em auto;
    max-width: var(--content-width);
  }
  h2 {
    margin-top: 1.5em;
  }
  .long-text {
    word-wrap: break-word;
  }
</style>
