---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Link from "../components/Link.astro";
import Project from "../components/Project.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Home" description="Offizielle Homepage vom Minecraft Projekte Discord CloudCraft" keywords={["home"]}>
  <Header title="CloudCraft" image={{ src: "/logo.png", alt: "Logo", width: "240px", height: "240px" }}>
    <p>CloudCraft ist ein Minecraft Projekte Discord. Hier werden viele spannende Projekte gehostet. Zu diesen zählen Elements, CraftAttack, StoneAttack, Kingdoms, Varo und viele weitere Projekte!</p>
    <p>
      Join jetzt unserem <Link icon={["brands", "discord"]} href="/r/discord">Discord</Link>, um kein Projekt mehr zu verpassen!
    </p>
  </Header>
  <main>
    <Projects />
  </main>
</Layout>

<style>
  main {
	margin-top: 2em;
	margin-bottom: 2em;
  }
</style>
