---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Link from "../components/Link.astro";
---

<Layout title="Sponsor" description="CloudCraft wird von chaoshosting unterstützt - ohne sie wären unsere Projekte nicht möglich" keywords={["sponsor", "chaoshosting"]}>
  <Header title="chaoshosting" image={{ src: "/chaoshosting.webp", alt: "Logo von chaoshosting", width: 240, height: 240 }}>
    <p>Chaoshosting stellt uns ihre Server zur Verfügung, auf welchen unsere spannenden Projekte laufen.</p>
  </Header>
  <main>
    <div>
      <h2>Über chaoshosting</h2>
      <p>Ohne die Unterstützung von chaoshosting wären CloudCraft's Projekte nicht möglich.</p>
      <p>
        Falls du selbst einen Discord Bot hosten willst, kannst auch du dich bei chaoshosting umschauen. Sie haben eine eigene Website unter <Link icon={["solid", "globe"]} href="https://chaoshosting.eu/">chaoshosting.eu</Link> und auch einen eigenen <Link icon={["brands", "discord"]} href="https://chaoshosting.eu/discord">Discord</Link>.
      </p>
    </div>
    <div>
      <h2>Vorheriger Sponsor: CubeTales</h2>
      <p>Vor chaoshosting war CubeTales (früher bekannt als Mineconomyworld) unser Sponsor. Sie ermöglichten den ursprünglichen großen Start von CloudCraft, mussten allerdings Ende Sommer 2022 leider schließen.</p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    margin-top: 1.5em;
  }
</style>
