---
import {CollectionEntry, getCollection} from "astro:content";
import Project from "./Project.astro";
import * as path from "node:path";

const categories = await getCollection("categories");
const projects = await getCollection("projects");

const activeProjectDirs = projects
    .filter(project => project.data.start && !project.data.end)
    .map(project => path.dirname(project.filePath));
const isRunning = (category: CollectionEntry<"categories">) => {
    const categoryDir = path.dirname(category.filePath);
    return activeProjectDirs.includes(categoryDir);
};

categories.sort((category1, category2) => {
    const running1 = isRunning(category1);
    const running2 = isRunning(category2);
    if (running1 !== running2) {
        return running2 ? 1 : -1;
    }
    return category2.data.order - category1.data.order;
});
---

<div>
    {categories.map(category =>
            <Project data={category} running={isRunning(category)}/>)}
</div>
<style>
    div {
        display: flex;
        gap: 3em;
        justify-content: center;
        flex-wrap: wrap;
        max-width: var(--content-width);
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (max-width: 1245px) {
        div {
            max-width: 98%;
        }
    }
</style>
