---
import Icon from "./Icon.astro";

interface Props {
  icon: string[];
}

const { icon } = Astro.props;
---

<span><Icon icon={icon} /> <slot /></span>

<style>
    span {
        text-transform: uppercase;
        background-color: #9d1bb5;
        padding: 0.3em;
        border-radius: 0.2em;
        font-weight: bold;
        font-size: 0.9em;
    }
</style>
