---
import Image from "astro/components/Image.astro";

interface Props {
  title: string;
  image?: {
    src: string;
    alt: string;
    width: number;
    height: number;
  };
}

const { title, image } = Astro.props;
---

<header>
  <div>
    <h1>{title}</h1>
    <slot />
  </div>
  {image && <Image {...image} loading={"eager"} />}
</header>
<style>
  header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 102, 132);
    padding-top: 2.5em;
    padding-bottom: 1.5em;
    padding-right: 20%;
    padding-left: 20%;
  }
  h1 {
    font-weight: bold;
  }
</style>
