---
interface Props {
  icon: string[];
  href: string;
  bold?: boolean;
}

const { icon, href, bold } = Astro.props;
---

<a href={href} class={bold ? "bold" : undefined}>
  <i class={icon.map((i) => "fa-" + i).join(" ")}></i>
  <slot />
</a>
<style>
  a {
    color: #c4effd;
    text-decoration: none;
  }
  a.bold {
    font-weight: bold;
  }
  a:hover {
    color: #718bfc;
  }
</style>
