---
import Project from "./Project.astro";
---

<div>
    <Project title="CraftAttack" previewImage="preview_ca3_spawn_island" running> Spiele mit vielen anderen Spielern auf einem großen Server. Triff dich mit anderen und erschaffe gemeinsam riesige Bauwerke!</Project>
    <Project title="Elements" previewImage="preview_el1_hub" running> Minecraft Elements ist ein YouTuber-Projekt. Wir haben das Projekt nachprogrammiert und stellen es euch zum Spielen zur Verfügung!</Project>
    <Project title="Kingdoms" previewImage="kg_castle"> In Kingdoms ging es darum, Königreiche zu gründen, Burgen zu bauen und Krieg gegen andere Königreiche zu führen. Wer wird den Krieg gewinnen?</Project>
    <Project title="Varo" previewImage="vr1_winners"> Starte mit anderen Spielern in einer begrenzten Welt und sammle Ressourcen, um nachher im großen Kampf als Sieger zu verbleiben!</Project>
    <Project title="Hardcore" previewImage="hc1_base"> Im Hardcore Projekt hat jeder nur eine begrenzte Anzahl an Leben. Führe Krieg gegen gegnerische Teams und eliminiere sie vom Server!</Project>
    <Project title="CloudWars" previewImage="preview_cw_top_down"> CloudWars ist ein Capture the Flag Event. Du musst mit verschiedenen Kits die Flagge des Gegner einsammeln und in deine eigene Burg bringen - aber wer sammelt am Ende mehr Flaggen?</Project>
</div>
<style>
  div {
    display: flex;
    gap: 3em;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
</style>
