---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="tooltip">
  <slot />
  <span class="text">{text}</span>
</div>
<style>
  .tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip .text {
    font-size: 0.5em;

    visibility: hidden;
    width: 160px;
    background-color: #424242;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltip .text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #424242 transparent transparent transparent;
  }
  .tooltip:hover .text {
    visibility: visible;
    opacity: 1;
  }
</style>
