---
import type { HeadProps } from "../components/BaseHead.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

interface Props extends HeadProps {}
---

<!doctype html>
<html lang="de">
  <head>
    <BaseHead {...Astro.props} />
    <slot name="head" />
  </head>
  <body>
    <Navbar />
    <div id="page-content">
      <slot />
    </div>
    <Footer />
  </body>
</html>
